<h1 class="heading">Reactive Forms</h1>
<form [formGroup]="myForm" class="reactive-form" (ngSubmit)="handleSubmit()">
  <div>
    <input type="text" formControlName="name" name="name" placeholder="enter name">
  </div>
  <div>
    <input type="password" name="password" formControlName="password" placeholder="********">
  </div>
  <div>
    <input type="email" name="email" formControlName="email" placeholder="enter email">
  </div>
  <div>
    <input type="number" formControlName="phone_no" name="phonenumber" placeholder="enter mobile number">
  </div>
  <div formArrayName="Address">
    <div class="d-flex" *ngFor="let x of getArray().controls; index as i">
      <input type="Address" [formControlName]="i" name="Address">
      <button type="button" (click)="addAddress()">Add</button>
      <button type="button" (click)="removeAddress(i)">Remove</button>
    </div>
  </div>
  <div class="form_button">
    <button>submit</button>
  </div>
</form>