<h1 class="heading">Reactive Formsss</h1>
<form [formGroup]="myReactiveForm" class="student-form" (ngSubmit)="handleValitade()">
  <div>
    <input formControlName="name" name="name" placeholder="Enter name" type="text">
  </div>
  <div>
    <input formControlName="email" name="email" placeholder="Enter email" type="email">
  </div>
  <div>
    <input formControlName="password" name="password" placeholder="*******" type="password">
  </div>
  <div>
    <input formControlName="dob" name="dob" placeholder="Enter DOB" type="date">
  </div>
  <div formArrayName="Address">
    <div class="d-flex" *ngFor="let x of getAddressFromArray().controls; index as i">
      <input type="Address" [formControlName]="i" name="Address">
      <button type="button" (click)="addControlToAddress()">Add</button>
      <button type="button" (click)="removeAddress(i)">Delete</button>
    </div>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>